
        <div class="row feature_post_area">
          <div class="col-12" *ngFor="let item of posts | paginate: { itemsPerPage: 03, currentPage: p }; let i= index">
            <div class="media feature_post">
              <div class="feture_img">
                <a [routerLink]="['detail',item.$key]" routerLinkActive="active"><img  [src]="item.avatar" alt="" ></a>
                <ul class="special_share">
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
              <div class="media-body feture_content">
                <a [routerLink]="['detail',item.$key]" routerLinkActive="active" class="f_heding">{{item.title}}</a>
                <h6>{{item.date_update | date: 'dd-MM-yyyy'}} <span>|</span><a href="http://emran-khan.com/">Emran Khan</a></h6>
                <p>{{item.description | slice: 0: 150}}</p>
              </div>
            </div>
          </div>

          <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
       
        </div>