<div id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
  <!-- Bootstrap List Group -->
  <ul class="list-group">
    <!-- Separator with title -->
    <!--<li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">-->
    <!--<small>MAIN MENU</small>-->
    <!--</li>-->
    <!-- /END Separator -->
    <!-- Menu with submenu -->
    <a  routerLink="dashboard" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-containent-start align-items-center">
        <span class="fa fa-dashboard fa-fw mr-3"></span>
        <span class="menu-collapsed">Dashboard</span>
      </div>
    </a>
    <!-- Submenu content -->
    <!-- <div id='submenu1' class="collapse sidebar-submenu">
      <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Charts</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Reports</span>
      </a>
      <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Tables</span>
      </a>
    </div> -->
    <!-- <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-user fa-fw mr-3"></span>
        <span class="menu-collapsed">Thể loại</span>
        <span class="submenu-icon ml-auto"></span>
      </div>
    </a> -->
    <!-- Submenu content -->
    <!-- <div id='submenu2' class="collapse sidebar-submenu">
      <a routerLink="category" class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Danh sách</span>
      </a>
      <a routerLink="binh-luan"  class="list-group-item list-group-item-action bg-dark text-white">
        <span class="menu-collapsed">Password</span>
      </a>
    </div> -->

    <!-- Separator with title -->
    <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
      <small>OPTIONS</small>
    </li>
    <a routerLink="category" class="bg-dark list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
          <span class="fa fa-tasks fa-fw mr-3"></span>
          <span class="menu-collapsed">Thể loại</span>
        </div>
      </a>
    <!-- /END Separator -->
    <a routerLink="post" class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-calendar fa-fw mr-3"></span>
        <span class="menu-collapsed">Bài viết</span>
      </div>
    </a>

    <!-- <a routerLink="binh-luan" class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-calendar fa-fw mr-3"></span>
        <span class="menu-collapsed">Bình luận</span>
      </div>
    </a> -->

    <a routerLink="comment" class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-envelope-o fa-fw mr-3"></span>
        <span class="menu-collapsed">Bình luận <span class="badge badge-pill badge-primary ml-2">{{countComment}}</span></span>
      </div>
    </a>
    <!-- Separator without title -->
    <li class="list-group-item sidebar-separator menu-collapsed"></li>
    <!-- /END Separator -->
    <!-- <a href="#" class="bg-dark list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span class="fa fa-question fa-fw mr-3"></span>
        <span class="menu-collapsed">Help</span>
      </div>
    </a>
    <a href="#" data-toggle="sidebar-colapse" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
      <div class="d-flex w-100 justify-content-start align-items-center">
        <span id="collapse-icon" class="fa fa-2x mr-3"></span>
        <span id="collapse-text" class="menu-collapsed">Collapse</span>
      </div>
    </a> -->
    <!-- Logo -->
    <li class="list-group-item logo-separator d-flex justify-content-center">
      <img src='../../../assets/img/770b7908-298c-4f38-8e7c-989c68ab2102.png' width="30" height="30" />
    </li>
  </ul><!-- List Group END-->
</div>




