<div class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
  <h1 class="bd-title" id="content">Introduction</h1>
  <p class="bd-lead">Get started with Bootstrap, the world’s most popular framework for building responsive,
    mobile-first sites, with BootstrapCDN and a template starter page.</p>
  <script async="" src="https://cdn.carbonads.com/carbon.js?serve=CKYIKKJL&amp;placement=getbootstrapcom"
          id="_carbonads_js"></script>
  <div id="carbonads"><span><span class="carbon-wrap"><a
    href="//srv.carbonads.net/ads/click/x/GTND42QWCYSI423WFT7LYKQMCESD52JLCYYDLZ3JCWBDK27YCYAIKKJKC6BIV2JNFT7DVK3EHJNCLSIZ?segment=placement:getbootstrapcom;"
    class="carbon-img" target="_blank" rel="noopener"><img
    src="https://cdn4.buysellads.net/uu/1/3386/1525189887-61450.png" alt="" border="0" height="100" width="130"
    style="max-width: 130px;"></a><a
    href="//srv.carbonads.net/ads/click/x/GTND42QWCYSI423WFT7LYKQMCESD52JLCYYDLZ3JCWBDK27YCYAIKKJKC6BIV2JNFT7DVK3EHJNCLSIZ?segment=placement:getbootstrapcom;"
    class="carbon-text" target="_blank"
    rel="noopener">Students and Teachers, save up to 60% on Adobe Creative Cloud.</a></span><a
    href="http://carbonads.net/?utm_source=getbootstrapcom&amp;utm_medium=ad_via_link&amp;utm_campaign=in_unit&amp;utm_term=carbon"
    class="carbon-poweredby" target="_blank" rel="noopener">ads via Carbon</a></span></div>

  <h2 id="quick-start">
    <div>Quick start<a class="anchorjs-link " href="#quick-start" aria-label="Anchor" data-anchorjs-icon="#"
                       style="padding-left: 0.375em;"></a></div>
  </h2>

  <p>Looking to quickly add Bootstrap to your project? Use BootstrapCDN, provided for free by the folks at MaxCDN. Using
    a package manager or need to download the source files? <a href="/docs/4.0/getting-started/download/">Head to the
      downloads page.</a></p>

  <h3 id="css">
    <div>CSS<a class="anchorjs-link " href="#css" aria-label="Anchor" data-anchorjs-icon="#"
               style="padding-left: 0.375em;"></a></div>
  </h3>

  <p>Copy-paste the stylesheet <code class="highlighter-rouge">&lt;link&gt;</code> into your <code
    class="highlighter-rouge">&lt;head&gt;</code> before all other stylesheets to load our CSS.</p>

  <div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
  </div>
  <figure class="highlight">
    <pre><code class="language-html" data-lang="html"><span class="nt">&lt;link</span> <span class="na">rel=</span><span
      class="s">"stylesheet"</span> <span class="na">href=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"</span> <span
      class="na">integrity=</span><span class="s">"sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"</span> <span
      class="na">crossorigin=</span><span class="s">"anonymous"</span><span class="nt">&gt;</span></code></pre>
  </figure>

  <h3 id="js">
    <div>JS<a class="anchorjs-link " href="#js" aria-label="Anchor" data-anchorjs-icon="#"
              style="padding-left: 0.375em;"></a></div>
  </h3>

  <p>Many of our components require the use of JavaScript to function. Specifically, they require <a
    href="https://jquery.com">jQuery</a>, <a href="https://popper.js.org/">Popper.js</a>, and our own JavaScript
    plugins. Place the following <code class="highlighter-rouge">&lt;script&gt;</code>s near the end of your pages,
    right before the closing <code class="highlighter-rouge">&lt;/body&gt;</code> tag, to enable them. jQuery must come
    first, then Popper.js, and then our JavaScript plugins.</p>

  <p>We use <a href="https://blog.jquery.com/2016/06/09/jquery-3-0-final-released/">jQuery’s slim build</a>, but the
    full version is also supported.</p>

  <div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
  </div>
  <div class="highlight"><pre><code class="language-html" data-lang="html"><span class="nt">&lt;script </span><span
    class="na">src=</span><span class="s">"https://code.jquery.com/jquery-3.2.1.slim.min.js"</span> <span class="na">integrity=</span><span
    class="s">"sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"</span> <span class="na">crossorigin=</span><span
    class="s">"anonymous"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"</span> <span
      class="na">integrity=</span><span class="s">"sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"</span> <span
      class="na">crossorigin=</span><span class="s">"anonymous"</span><span class="nt">&gt;&lt;/script&gt;</span>
<span class="nt">&lt;script </span><span class="na">src=</span><span class="s">"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"</span> <span
      class="na">integrity=</span><span class="s">"sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"</span> <span
      class="na">crossorigin=</span><span class="s">"anonymous"</span><span class="nt">&gt;&lt;/script&gt;</span></code></pre>
  </div>

  <p>Curious which components explicitly require jQuery, our JS, and Popper.js? Click the show components link below. If
    you’re at all unsure about the general page structure, keep reading for an example page template.</p>

  <div>
    <div class="text-primary mb-3">Show components requiring JavaScript</div>

    <ul>
      <li>Alerts for dismissing</li>
      <li>Buttons for toggling states and checkbox/radio functionality</li>
      <li>Carousel for all slide behaviors, controls, and indicators</li>
      <li>Collapse for toggling visibility of content</li>
      <li>Dropdowns for displaying and positioning (also requires <a href="https://popper.js.org/">Popper.js</a>)</li>
      <li>Modals for displaying, positioning, and scroll behavior</li>
      <li>Navbar for extending our Collapse plugin to implement responsive behavior</li>
      <li>Tooltips and popovers for displaying and positioning (also requires <a
        href="https://popper.js.org/">Popper.js</a>)
      </li>
      <li>Scrollspy for scroll behavior and navigation updates</li>
    </ul>

  </div>

  <h2 id="starter-template">
    <div>Starter template<a class="anchorjs-link " href="#starter-template" aria-label="Anchor" data-anchorjs-icon="#"
                            style="padding-left: 0.375em;"></a></div>
  </h2>

  <p>Be sure to have your pages set up with the latest design and development standards. That means using an HTML5
    doctype and including a viewport meta tag for proper responsive behaviors. Put it all together and your pages should
    look like this:</p>

  <div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
  </div>

  <p>That’s all you need for overall page requirements. Visit the <a href="/docs/4.0/layout/overview/">Layout docs</a>
    or <a href="/docs/4.0/examples/">our official examples</a> to start laying out your site’s content and components.
  </p>

  <h2 id="important-globals">
    <div>Important globals<a class="anchorjs-link " href="#important-globals" aria-label="Anchor" data-anchorjs-icon="#"
                             style="padding-left: 0.375em;"></a></div>
  </h2>

  <p>Bootstrap employs a handful of important global styles and settings that you’ll need to be aware of when using it,
    all of which are almost exclusively geared towards the <em>normalization</em> of cross browser styles. Let’s dive
    in.</p>

  <h3 id="html5-doctype">
    <div>HTML5 doctype<a class="anchorjs-link " href="#html5-doctype" aria-label="Anchor" data-anchorjs-icon="#"
                         style="padding-left: 0.375em;"></a></div>
  </h3>

  <p>Bootstrap requires the use of the HTML5 doctype. Without it, you’ll see some funky incomplete styling, but
    including it shouldn’t cause any considerable hiccups.</p>

  <div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
  </div>

  <h3 id="responsive-meta-tag">
    <div>Responsive meta tag<a class="anchorjs-link " href="#responsive-meta-tag" aria-label="Anchor"
                               data-anchorjs-icon="#" style="padding-left: 0.375em;"></a></div>
  </h3>

  <p>Bootstrap is developed <em>mobile first</em>, a strategy in which we optimize code for mobile devices first and
    then scale up components as necessary using CSS media queries. To ensure proper rendering and touch zooming for all
    devices, <strong>add the responsive viewport meta tag</strong> to your <code
      class="highlighter-rouge">&lt;head&gt;</code>.</p>

  <div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
  </div>

  <p>You can see an example of this in action in the <a href="#starter-template">starter template</a>.</p>

  <h3 id="box-sizing">
    <div>Box-sizing<a class="anchorjs-link " href="#box-sizing" aria-label="Anchor" data-anchorjs-icon="#"
                      style="padding-left: 0.375em;"></a></div>
  </h3>

  <p>For more straightforward sizing in CSS, we switch the global <code class="highlighter-rouge">box-sizing</code>
    value from <code class="highlighter-rouge">content-box</code> to <code class="highlighter-rouge">border-box</code>.
    This ensures <code class="highlighter-rouge">padding</code> does not affect the final computed width of an element,
    but it can cause problems with some third party software like Google Maps and Google Custom Search Engine.</p>

  <p>On the rare occasion you need to override it, use something like the following:</p>

  <div class="bd-clipboard">
    <button class="btn-clipboard" title="" data-original-title="Copy to clipboard">Copy</button>
  </div>
  <p>With the above snippet, nested elements—including generated content via <code
    class="highlighter-rouge">::before</code> and <code class="highlighter-rouge">::after</code>—will all inherit the
    specified <code class="highlighter-rouge">box-sizing</code> for that <code class="highlighter-rouge">.selector-for-some-widget</code>.
  </p>

  <p>Learn more about <a href="https://css-tricks.com/box-sizing/">box model and sizing at CSS Tricks</a>.</p>

  <h3 id="reboot">
    <div>Reboot<a class="anchorjs-link " href="#reboot" aria-label="Anchor" data-anchorjs-icon="#"
                  style="padding-left: 0.375em;"></a></div>
  </h3>

  <p>For improved cross-browser rendering, we use <a href="/docs/4.0/content/reboot/">Reboot</a> to correct
    inconsistencies across browsers and devices while providing slightly more opinionated resets to common HTML
    elements.</p>

  <h2 id="community">
    <div>Community<a class="anchorjs-link " href="#community" aria-label="Anchor" data-anchorjs-icon="#"
                     style="padding-left: 0.375em;"></a></div>
  </h2>

  <p>Stay up to date on the development of Bootstrap and reach out to the community with these helpful resources.</p>

  <ul>
    <li>Follow <a href="https://twitter.com/getbootstrap">@getbootstrap on Twitter</a>.</li>
    <li>Read and subscribe to <a href="https://blog.getbootstrap.com/">The Official Bootstrap Blog</a>.</li>
    <li>Join <a href="https://bootstrap-slack.herokuapp.com">the official Slack room</a>.</li>
    <li>Chat with fellow Bootstrappers in IRC. On the <code class="highlighter-rouge">irc.freenode.net</code> server, in
      the <code class="highlighter-rouge">##bootstrap</code> channel.
    </li>
    <li>Implementation help may be found at Stack Overflow (tagged <a
      href="https://stackoverflow.com/questions/tagged/bootstrap-4"><code
      class="highlighter-rouge">bootstrap-4</code></a>).
    </li>
    <li>Developers should use the keyword <code class="highlighter-rouge">bootstrap</code> on packages which modify or
      add to the functionality of Bootstrap when distributing through <a
        href="https://www.npmjs.com/search?q=keywords:bootstrap">npm</a> or similar delivery mechanisms for maximum
      discoverability.
    </li>
  </ul>

  <p>You can also follow <a href="https://twitter.com/getbootstrap">@getbootstrap on Twitter</a> for the latest gossip
    and awesome music videos.</p>

</div>
