<div style="background: #fff" class="pl-5 pr-5 ">
    <div class="news_item news_details">
        <h6><span>{{post.date_update | date: 'dd-MM-yyyy'}}}}</span> </h6>
        <a href="news-details.html" class="news_heding">{{post.title}}</a>
        <img class="card-img-top" src="{{post.avatar}}" alt="">
        <p class="fast_p" [innerHTML]="post.content">.</p>

        <div class="share_row row">
            <div class="col-sm-6 share_area">
                <ul>
                    <li>Share:</li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-6 back_to"><a routerLink="" routerLinkActive="active"><i class="fa fa-arrow-left"></i>Back to blog</a></div> 
            <div class="col-sm-6">
                <div class="sm_post">
                    <img src="../../../assets/images/post/sub-post-1.jpg" alt="">
                    <a href="#">Small Business Owners Make it Happen in 2016</a>
                </div>
            </div> 
            <div class="col-sm-6">
                <div class="sm_post">
                    <img src="../../../assets/images/post/sub-post-2.jpg" alt="">
                    <a href="#">Small Business Owners Make it Happen in 2016</a>
                </div>
            </div>
        </div> 
      </div> 
      <div class="author_area">
        <h2>Author</h2>
        <div class="media">
            <div class="media-left"> 
                <img src="../../../assets/images/post/author-1.jpg" alt="">
                <a href="#">Emran Khan</a>
            </div>
            <div class="media-body">
                <h6>22 feb,2018</h6>
                <p>This incident opened my eyes to the value of Insurance in general, so I decided to examine my personal and business insurance.</p>
            </div>
        </div>
      </div>
      <div class="comment_area">
        <h2>Comment (3)</h2>
        <div class="media">
            <div class="media-left"> 
                <img src="../../../assets/images/post/author-2.jpg" alt="" class=" rounded-circle">
                <a href="#">Asfia Asfia</a>
            </div>
            <div class="media-body">
                <p>The payments are made directly from one person to another without passing through a central bank or clearing house.</p>
                <h6>22 feb,2018</h6>
                <a href="#" class="reply_btn">Reply</a>
            </div>
        </div>
        <div class="media media_reply">
            <div class="media-left"> 
                <img src="../../../assets/images/post/author-3.jpg" alt="" class="rounded-circle">
                <a href="#">Kana Kafi</a>
            </div>
            <div class="media-body">
                <p>Bitcoins can also be traded for other currencies and can be used to send remittances from Filipino expats around the world, a market that BuyBitcoin.ph is targetting.</p>
                <h6>23 feb,2018</h6>
                <a href="#" class="reply_btn">Reply</a>
            </div>
        </div>
        <div class="media end_media">
            <div class="media-left"> 
                <img src="../../../assets/images/post/author-4.jpg" alt="" class="rounded-circle">
                <a href="#">Youma Luv</a>
            </div>
            <div class="media-body border-0">
                <p>By eliminating the middle man, BuyBitcoin.ph offers a cheaper and faster alternative to banks or money transfer companies</p>
                <h6>23 feb,2018</h6>
                <a href="#" class="reply_btn">Reply</a>
            </div>
        </div>
      </div>
      <div class="leave_reply"> 
       <h2>Leave a Reply</h2>
        <form class="row login_from">  
            <div class="form-group col-12">
                <textarea class="form-control" id="message" name="message" placeholder="Your Comment"></textarea>
            </div>
            <div class="form-group col-12">   
                <input type="text" class="form-control" placeholder="Name"> 
            </div> 
            <div class="form-group col-12">
                <input type="email" class="form-control" name="email" placeholder="Email">
            </div> 
            <div class="form-group larg_btn col-12">
                <button class="sm_btn" type="submit">Submit Reply <i class="fa fa-arrow-right"></i></button> 
            </div>     
        </form>  
      </div>
      
      <!-- <app-comment-post [dataPost]="post" [comments]="comments"></app-comment-post> -->
      </div>