<div class="news_item news_details">
  <h6><span>February 28, 2018</span> <a href="#">Post by : Emran</a> <a href="#" class="investing">Investing</a></h6>
  <a href="news-details.html" class="news_heding">Best Small Business Insurance Companies – and how to find them</a>
  <img src="images/post/blog-single-1.jpg" alt="">
  <p class="fast_p">Examining your Business Insurance may be worth Thousands ,  had life insurance cover that was taken out several years before Thursday the 29th. Most of the cover that I had was put in place through my IFA after my arguing to keep the cost down had been discussed into submission. Then one Thursday I began to feel ill. </p>
  <p>The proliferation of smartphones has connected people across the world, and by mid 2017, two thirds of the world's population had a mobile subscription – a total of 5 billion unique subscribers. By 2020, almost 860 million new subscribers will be added, taking the global penetration rate to 73%.</p>
  <p>However, with mobile subscriber growth slowing and competition intensifying, many telecom operators are questioning whether they've had the best of times and the future outlook may not be so promising. At this year's Global Mobile Broadband Forum (MBBF 2017), held in London, the most influential decision makers from the ranks of operators, vendors and other participants in the mobile ecosystem gathered to explore how to achieve sustainable growth in the future.</p>
  <div class="some_interesting row">
      <h2 class="col-12">New mindset and thriving ecosystem drive future applications</h2>
      <div class="col-md-6 interesting">
          <h4>Integration</h4>
          <p>As both examples illustrate, a data integration strategy is key to deeply understanding your user base, </p>
      </div>
      <div class="col-md-6 interesting"> 
          <h4 class="hc_2">Integration Is Critical</h4>
          <p>A data integration plan, working alongside a tool, such as social login, can have enormous benefits. </p>
      </div>
      <div class="col-md-6 interesting"> 
          <h4 class="hc_3">Talent team focus</h4>
          <p>Huawei is cultivating an ecosystem that brings together global and local, or "glocal" business partners to boost industry </p>
      </div>
      <div class="col-md-6 interesting"> 
          <h4 class="hc_4">Free Business Tips</h4>
          <p>If you have an uneasy feeling that you may be paying too much for your Business Insurance, check it out here. </p>
      </div>
  </div>
  <p class="end_pera">There’s a very good chance that you could save hundreds of pounds in just a few minutes.Business Insurance calc Until one Thursday afternoon the importance of Business Insurance had always passed me by. By the end of the day I had found out that I was throwing away big bucks that I could ill afford to lose. Are you doing the same?</p>
  <div class="share_row row">
      <div class="col-sm-6 share_area">
          <ul>
              <li>Share:</li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
      </div>
      <div class="col-sm-6 back_to"><a href="#"><i class="fa fa-arrow-left"></i>Back to blog</a></div> 
      <div class="col-sm-6">
          <div class="sm_post">
              <img src="images/post/sub-post-1.jpg" alt="">
              <a href="#">Small Business Owners Make it Happen in 2016</a>
          </div>
      </div> 
      <div class="col-sm-6">
          <div class="sm_post">
              <img src="images/post/sub-post-2.jpg" alt="">
              <a href="#">Small Business Owners Make it Happen in 2016</a>
          </div>
      </div>
  </div> 
</div> 
<div class="author_area">
  <h2>Author</h2>
  <div class="media">
      <div class="media-left"> 
          <img src="images/post/author-1.jpg" alt="">
          <a href="#">Emran Khan</a>
      </div>
      <div class="media-body">
          <h6>22 feb,2018</h6>
          <p>This incident opened my eyes to the value of Insurance in general, so I decided to examine my personal and business insurance.</p>
      </div>
  </div>
</div>
<div class="comment_area">
  <h2>Comment (3)</h2>
  <div class="media">
      <div class="media-left"> 
          <img src="images/post/author-2.jpg" alt="" class=" rounded-circle">
          <a href="#">Asfia Asfia</a>
      </div>
      <div class="media-body">
          <p>The payments are made directly from one person to another without passing through a central bank or clearing house.</p>
          <h6>22 feb,2018</h6>
          <a href="#" class="reply_btn">Reply</a>
      </div>
  </div>
  <div class="media media_reply">
      <div class="media-left"> 
          <img src="images/post/author-3.jpg" alt="" class="rounded-circle">
          <a href="#">Kana Kafi</a>
      </div>
      <div class="media-body">
          <p>Bitcoins can also be traded for other currencies and can be used to send remittances from Filipino expats around the world, a market that BuyBitcoin.ph is targetting.</p>
          <h6>23 feb,2018</h6>
          <a href="#" class="reply_btn">Reply</a>
      </div>
  </div>
  <div class="media end_media">
      <div class="media-left"> 
          <img src="images/post/author-4.jpg" alt="" class="rounded-circle">
          <a href="#">Youma Luv</a>
      </div>
      <div class="media-body border-0">
          <p>By eliminating the middle man, BuyBitcoin.ph offers a cheaper and faster alternative to banks or money transfer companies</p>
          <h6>23 feb,2018</h6>
          <a href="#" class="reply_btn">Reply</a>
      </div>
  </div>
</div>
<div class="leave_reply"> 
 <h2>Leave a Reply</h2>
  <form class="row login_from">  
      <div class="form-group col-12">
          <textarea class="form-control" id="message" name="message" placeholder="Your Comment"></textarea>
      </div>
      <div class="form-group col-12">   
          <input type="text" class="form-control" placeholder="Name"> 
      </div> 
      <div class="form-group col-12">
          <input type="email" class="form-control" name="email" placeholder="Email">
      </div> 
      <div class="form-group larg_btn col-12">
          <button class="sm_btn" type="submit">Submit Reply <i class="fa fa-arrow-right"></i></button> 
      </div>     
  </form>  
</div>

<!-- <app-comment-post [dataPost]="post" [comments]="comments"></app-comment-post> -->
