<div class="cp-toolbar w-100 ">
  <button class="btn btn-primary btn-sm" type="button" routerLink="../create"><i
    class="fa fa-plus"></i> Tạo mới
  </button>
</div>
<div class="container-fluid mt-5 p-0">
    <input type="text" [(ngModel)]="searchText" placeholder="Tìm kiếm.." class="form-control form-control-sm col-6 float-right">
<br><br>
  <table class="table table-bordered table-responsive-sm table-responsive-md table-responsive-lg">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Tên</th>
        <th scope="col">Handle</th>
      </tr>
      </thead>
      <tbody>
     <tr *ngFor="let item of categories  | grdFilter: { name:searchText} | paginate: { itemsPerPage: 07, currentPage: p }; let i= index">
       <th scope="row">{{i+1}}</th>
       <td>{{item.name}}</td>
       <td>
        <span class="fts-100 badge badge-primary active" [routerLink]="['../detail', item.$key]"><i class="fa fa-edit"></i></span>
        <span class="ml-1 fts-100 badge badge-danger active" (click)="openModal(template, item)"><i class="fa fa-trash" ></i></span>
      </td>
     </tr>
      </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"></pagination-controls>
</div>
<ng-template #template>
  <div class="modal-body text-center">
    <p>Bạn có muốn xóa {{category.name}}?</p>
    <button type="button" class="btn btn-primary btn-sm mr-2" (click)="confirmDelete(category.$key)" ><i
      class="fa fa-check"></i> Đồng ý</button>
    <button type="button" class="btn btn-default btn-sm" (click)="modalRef.hide()">
      <i class="fa fa-close"></i> Hủy</button>
  </div>
</ng-template>

